html, body {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;    
}

* {
    padding: 0;
    margin: 0;
}

.form-wrapper {
 	width: 280px;
 	text-align: center;
}

form {	
	width: 280px;
	background-color: #808080;
	text-align: center;	
	padding-bottom: 10px;
}

input[type="email"], input[type="text"], input[type="submit"], textarea {	 	
	font-size: 12px; 
	width: 250px;
	border: none;	
	margin-top: 10px;
	border-radius: 3px;
	padding-left: 10px;
	height: 30px;
	background-color: white;
} 

input[type="submit"] {
	font-weight: bold;
	color: grey;
	cursor: pointer;
}

textarea {
	font-family: arial;
	height: 70px;
	border-radius: 3px;
	padding-top: 5px;
	resize: none;
}

input::-moz-placeholder {
    color: #d3d3d3; 
} 

textarea::-moz-placeholder {
    color: #d3d3d3; 
} 

input::-webkit-input-placeholder {
    color: #d3d3d3; 
}

textarea::-webkit-input-placeholder {
    color: #d3d3d3;     
}

:focus::-webkit-input-placeholder {
	color: transparent
}

:focus::-moz-placeholder {
	color: transparent
}

:focus:-moz-placeholder {
	color: transparent
}

:focus:-ms-input-placeholder {
	color: transparent
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white !important;  
}

.edit {
	margin-top: 20px;
	display: none;
	color: white;		
}

.about {
	font-size: 13px;
	text-align: left;
	padding-left: 10px;
}

.test-types {
	margin-top: 20px;
}

#editing:checked ~ .edit{
	display: block;	
}

#editing {
	display: none;
}

label[for="editing"] {	
	color: white;
	border: 1px solid white;
	padding: 3px;
	border-radius: 5px;
	font-size: 13px;
	cursor: pointer;
}

label[for="color_orange"] {	
	display: inline-block;
	background-color: #FF9900;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	cursor: pointer;
}

label[for="color_blue"] {	
	display: inline-block;
	background-color: #6699FF;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	cursor: pointer;
}

label[for="color_green"] {	
	display: inline-block;
	background-color: #66FFCC;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	cursor: pointer;
}

#color_orange, #color_blue, #color_green {
	display: none;
}

#color_orange:checked ~ form {
	background-color: #FF9900; 
}

#color_blue:checked ~ form {
	background-color: #6699FF;
}

#color_green:checked ~ form {
	background-color: #66FFCC;
}

#color_orange:checked ~ form > input[type="submit"] {
	color: #FF9900; 
}

#color_blue:checked ~ form > input[type="submit"] {
	color: #6699FF;
}

#color_green:checked ~ form > input[type="submit"] {
	color: #66FFCC;
}

label {
	cursor: pointer;
}
